'menu': [
  {
    'label': 'Packages'
    'submenu': [
      'label': 'Lisp Paredit'
      'submenu': [
        { 'label': 'Toggle', 'command': 'lisp-paredit:toggle' }        
        { 'label': 'Toggle Strict Mode', 'command': 'lisp-paredit:toggle-strict' }
      ]
    ]
  }
]
