'atom-text-editor[data-grammar~="clojure"],
 atom-text-editor[data-grammar~="lisp"],
 atom-text-editor[data-grammar~="newlisp"],
 atom-text-editor[data-grammar~="scheme"]':
  'ctrl-alt-,':         'lisp-paredit:barf-forwards'
  'ctrl-alt-.':         'lisp-paredit:slurp-forwards'
  'ctrl-alt-<':         'lisp-paredit:slurp-backwards'
  'ctrl-alt->':         'lisp-paredit:barf-backwards'

  'cmd-delete':         'lisp-paredit:kill-sexp-forwards'

  'cmd-backspace':      'lisp-paredit:kill-sexp-backwards'
  'alt-backspace':      'lisp-paredit:kill-sexp-backwards'

  'ctrl-alt-i':         'lisp-paredit:indent'

  'ctrl-right':         'lisp-paredit:forward-sexp'
  'ctrl-left':          'lisp-paredit:backward-sexp'
  'ctrl-up':            'lisp-paredit:up-sexp'
  'ctrl-down':          'lisp-paredit:down-sexp'
  'ctrl-w':             'lisp-paredit:expand-selection'

  'backspace':          'lisp-paredit:delete-backwards'
  'ctrl-h':             'lisp-paredit:delete-backwards'
  'delete':             'lisp-paredit:delete-forwards'
  'ctrl-d':             'lisp-paredit:delete-forwards'

  'enter':              'lisp-paredit:newline'
