'atom-text-editor.paredit':
  'ctrl-alt-,':         'lisp-paredit:barf-forwards'
  'ctrl-alt-.':         'lisp-paredit:slurp-forwards'
  'ctrl-alt-<':         'lisp-paredit:slurp-backwards'
  'ctrl-alt->':         'lisp-paredit:barf-backwards'

  'cmd-delete':         'lisp-paredit:kill-sexp-forwards'
  'cmd-backspace':      'lisp-paredit:kill-sexp-backwards'

  'ctrl-alt-i':         'lisp-paredit:indent'

  'ctrl-right':         'lisp-paredit:forward-sexp'
  'ctrl-left':          'lisp-paredit:backward-sexp'
  'ctrl-up':            'lisp-paredit:up-sexp'
  'ctrl-down':          'lisp-paredit:down-sexp'
  'ctrl-w':             'lisp-paredit:expand-selection'

  'ctrl-alt-up':        'lisp-paredit:splice-backwards'
  'ctrl-alt-down':      'lisp-paredit:splice-forwards'
  'ctrl-alt-s':         'lisp-paredit:splice'
  'ctrl-alt-/':         'lisp-paredit:split'
  'ctrl-alt-(':         'lisp-paredit:wrap-around-parens'
  'ctrl-alt-9':         'lisp-paredit:wrap-around-parens'
  'ctrl-alt-[':         'lisp-paredit:wrap-around-square'
  'ctrl-alt-{':         'lisp-paredit:wrap-around-curly'
